<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shz/res/animation/Boss/per1_7_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{274,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,267}</string>
			</dict>
			<key>shz/res/animation/Boss/per1_7_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{274,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,267}</string>
			</dict>
			<key>shz/res/animation/Boss/per1_7_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{274,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,267}</string>
			</dict>
			<key>shz/res/animation/Boss/per1_7_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1},{274,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,267}</string>
			</dict>
			<key>shz/res/animation/Boss/per1_7_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1},{274,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,267}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>05.png</string>
			<key>realTextureFileName</key>
			<string>05.png</string>
			<key>size</key>
			<string>{1380,269}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1380</integer>
			<key>height</key>
			<integer>269</integer>
		</dict>
	</dict>
</plist>