<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CU_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,199},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,396},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,593},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,199},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,396},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,593},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,790},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,199},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>CU_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,396},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,593},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,790},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,2},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,341},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,538},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,735},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,932},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>HEARTS_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,341},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,538},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,735},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,932},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,341},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,538},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,735},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,932},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,144},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>helianthus_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,286},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>pukeback.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,341},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,286},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,428},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,538},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,735},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,625},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,822},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,428},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,570},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,428},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,625},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,767},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,767},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
			<key>Spades_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,909},{138,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,193}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gamecard.png</string>
			<key>realTextureFileName</key>
			<string>gamecard.png</string>
			<key>size</key>
			<string>{1498,1072}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1498</integer>
			<key>height</key>
			<integer>1072</integer>
		</dict>
	</dict>
</plist>