<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>213/mianfei_xz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,390},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,590},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,190},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,190},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,190},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,379},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,579},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
			<key>213/mianfei_xz_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,379},{187,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,198}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>freeIconPlist.png</string>
			<key>realTextureFileName</key>
			<string>freeIconPlist.png</string>
			<key>size</key>
			<string>{800,789}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>789</integer>
		</dict>
	</dict>
</plist>