<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{24,0},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{36,0},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{48,0},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{0,17},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{12,17},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{24,17},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{36,17},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{48,17},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{0,34},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baiwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,17}</string>
                <key>spriteSourceSize</key>
                <string>{36,17}</string>
                <key>textureRect</key>
                <string>{{18,34},{36,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,51},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,105},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,159},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,213},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,267},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,17}</string>
                <key>spriteSourceSize</key>
                <string>{7,17}</string>
                <key>textureRect</key>
                <string>{{54,267},{7,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{0,321},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,17}</string>
                <key>spriteSourceSize</key>
                <string>{36,17}</string>
                <key>textureRect</key>
                <string>{{18,321},{36,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{0,338},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{18,338},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chipNum.png</string>
            <key>size</key>
            <string>{61,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e7321df92cc1fcec56521981256f609:21a5ff73ae164c8a275f22cd1c964dfc:58c401b1fd56f84e490016c60fd901c3$</string>
            <key>textureFileName</key>
            <string>chipNum.png</string>
        </dict>
    </dict>
</plist>
