<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hhxs_vs_bao3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1358},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1208},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,906},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,454},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>hhxs_vs_bao3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hhxs_vs_bao3.png</string>
            <key>size</key>
            <string>{1308,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b9ff4c4a875e1a728b8769c86a2158$</string>
            <key>textureFileName</key>
            <string>hhxs_vs_bao3.png</string>
        </dict>
    </dict>
</plist>
