<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_shandian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1520},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1520},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1014},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1014},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,508},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,508},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1520},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1014},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,508},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
            <key>vs_shandian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,504}}</string>
                <key>sourceSize</key>
                <string>{423,504}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hhxs_vs_shandian.png</string>
            <key>size</key>
            <string>{1702,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55606da6ec476898ec9cc8894e5318e$</string>
            <key>textureFileName</key>
            <string>hhxs_vs_shandian.png</string>
        </dict>
    </dict>
</plist>
