<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,1},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,1},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,1},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,1},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,143},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,143},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,143},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,143},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,196},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,285},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,285},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,285},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,285},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,427},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,427},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,427},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,427},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,391},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,569},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,569},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,569},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,569},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,586},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,711},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,711},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,711},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,711},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,781},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,853},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,853},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,853},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,853},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,995},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,995},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,995},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,995},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,976},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,1137},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,1137},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,1137},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,1137},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,1171},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,1279},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,1279},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,1279},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,1279},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{781,1366},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1,1421},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{196,1421},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{391,1421},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{586,1421},{140,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{922,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:847a66d2bc089297fc89ccd4dea4b114:599ebe6251e2fadc2283ceea5c6e145f:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
