<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,0},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,216},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,432},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,648},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,864},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,1080},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,1728},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,1728},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,1728},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,1728},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,1296},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{158,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{316,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{474,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{632,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{790,1512},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{158,216}</string>
                <key>textureRect</key>
                <string>{{0,1728},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{948,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582d3ae950b7520b062ed56ac9081f4a:7723254d635d8e35c4efbfbf8bcbb78c:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
