<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{63,30},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{7,0},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{18,0},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{57,0},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{84,30},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{37,0},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{21,30},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{42,30},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{77,0},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{0,30},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baiwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,29}</string>
                <key>textureRect</key>
                <string>{{0,121},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,116}</string>
                <key>spriteSourceSize</key>
                <string>{113,116}</string>
                <key>textureRect</key>
                <string>{{0,617},{113,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,116}</string>
                <key>spriteSourceSize</key>
                <string>{113,116}</string>
                <key>textureRect</key>
                <string>{{0,150},{113,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,118}</string>
                <key>spriteSourceSize</key>
                <string>{113,118}</string>
                <key>textureRect</key>
                <string>{{0,266},{113,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{0,498},{113,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{113,114}</string>
                <key>textureRect</key>
                <string>{{0,384},{113,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,30}</string>
                <key>spriteSourceSize</key>
                <string>{7,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{62,60},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianwna.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{0,91},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{0,60},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{31,60},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chipNum.png</string>
            <key>size</key>
            <string>{113,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce356c0d20113f6e7dc2d34a5ae96a8:e2daf5b722a0c97452a440ad6db2a385:58c401b1fd56f84e490016c60fd901c3$</string>
            <key>textureFileName</key>
            <string>chipNum.png</string>
        </dict>
    </dict>
</plist>
